@import "tailwindcss";
:root{
    --accent:#183596;
    --accent-light:#344375;
    --accent-disabled: #A4B5EC;
    --main-bg: var(--color-white);
    --accent-2: #F79F56;
    --dull-bg: #302b5f;
    --dull-bg2: #d2d1d8b6;

}
@layer components {
  .btn-primary {
    @apply bg-[#183596] hover:bg-[#122873] active:bg-[#0d1d54] text-white cursor-pointer transition-colors
            disabled:opacity-50 disabled:cursor-not-allowed disabled:hover:bg-[#183596] disabled:active:bg-[#183596];
  }
}

a{
    cursor: pointer;
}
button:not(.except){
    cursor: pointer;
    /* background-color: var(--accent); */

}
input:not([type="radio"]):not([type="checkbox"]):not([type="button"]):not(.except){
    color: var(--dull-bg);
    font-size: 1.1rem;
    padding: 0.7rem 1.3rem;
    margin-bottom: 0.8rem;
    
    @media (min-width: 1024px) {
        padding: 1.1rem 1.8rem;
        margin-bottom: 1rem;
    }
    &:focus{
        outline: none;
        box-shadow: 0 0 2px 2px #302b5f59;
        
    }
}